!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')

    link(rel='shortcut icon', href='/favicon.ico')

    title= 'font dragr \| Drag and drop font testing'
    // START: Concat css
    link(rel='stylesheet', href='/css/src/_styles.css')
    link(rel='stylesheet', href='/css/src/wfs.css')
    link(rel='stylesheet', href='/css/src/_media-queries.css')
    // END: Concat css
  
    //if lte IE 8
      script
        var FD = FD || {};
        FD.ltIE9 = true;
        // For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/
        (function(){var e = "footer,header,hgroup,section".split(','),i=e.length;while(i--){document.createElement(e[i]);}})();

  body
    .maincontainer
      header.clearfix
        .container
          .logo fd
                
          hgroup(role='heading')
            h1 font dragr
            h2 Drag and drop font testing
                
          nav
            ul(role='tablist')
              li.active: a(href='/') Home
              li: a(href='editor') Editor
              li: a(href='gallery') Gallery
        
      #subcontainer
        != body

      footer(role='contentinfo')
        .grid.clearfix
          p.colx4
            | Copyright &copy; 2009 - 2011
            a(href='http://www.thecssninja.com/') Ryan Seddon
          p.colx8
            | Licensed under
            a(href='license.txt') MIT
            |  \|
            a(href='https://github.com/ryanseddon/font-dragr') Hack
            |  \|
            a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=seddon%2eryan%40gmail%2ecom&lc=AU&item_name=Donate%20and%20help%20make%20font%20dragr%20awesome&item_number=fontdragr&no_note=0&currency_code=AUD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHostedGuest') Donate
            |  \|
            a(href='http://twitter.com/ryanseddon') Contact
            |  \|
            a(href='http://defaulterror.com/', title='The font used on this site was obtained from here') VomZom

    // START: Concat scripts
    script(src='/scripts/src/jquery.js')
    script(src='/scripts/src/underscore.js')
    script(src='/scripts/src/json2.js')
    script(src='/scripts/src/_javascript.js')
    script(src='/scripts/src/_fonts.js')
    script(src='/scripts/src/_templates.js')
    script(src='/scripts/src/backbone.js')
    script(src='/scripts/src/_routes.js')
    script(src='/scripts/src/_models-collections.js')
    script(src='/scripts/src/_views.js')
    // END: Concat scripts

    script
      var _gaq=[['_setAccount','UA-4638292-2'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));